
@font-face {
    font-family: Elemental-End;
    src: url(../font/Elemental-End.ttf);
}
@font-face {
    font-family: AGaramondPro-Italic;
    src: url(../font/AGaramondPro-Italic.otf);
}
@font-face {
    font-family: AGaramondPro;
    src: url(../font/AGaramondPro.otf);
}
@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Regular.ttf);
}
body {
    background-color: #040101 !important;
    color: #ffffff;
}

/* General CSS */
.navbar {
    padding: 1rem .4rem;
}
.navbar-brand-logo {
    width: 60px;
    height: auto;
    max-width: 100%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #040101;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.fixed-top {
    position: absolute;
}
.masthead {
  height: 895px;
  min-height: 895px;
  background-image: url('../img/HERO-IMAGE.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.masthead2 {
    height: 253px;
    min-height: 253px;
    background-image: url(../img/HERO-IMAGE.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.font-weight {
    font-family: Elemental-End;
    font-weight: 700;
    font-style: normal;
    font-size: 68px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.7em;
    color: #fff;
    margin: 0;
}
.font-weight2 {
    font-family: Elemental-End;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    letter-spacing: .05em;
    text-transform: none;
    line-height: 1.2em;
}
.font-weight3 {
    font-family: Elemental-End;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    letter-spacing: .05em;
    text-transform: none;
    line-height: 1.2em;
}
.lead {
    font-family: AGaramondPro-Italic;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: none;
    line-height: 1.5em;
    color: #fff;
    margin: 0;
}
.nav-link {
    font-family: Roboto;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    color: rgb(255 255 255 / 93%) !important;
    padding: 1.2em 1.5em !important;
}
.nav-link:hover {
    color: rgb(255 255 255) !important;
}
.nav-link-bordered {
    border: 2px solid white;
    border-radius: 50px;
}
.nav-link-bordered:hover {
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #000000 !important;
}
.blue-btn {
    color: #ffffff;
    background-color: #00CCFA;
    font-family: Roboto;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    padding: 1.2em 2em !important;
    border-radius: 50px;
}
.blue-btn:hover {
    background-color: #00ccfaba;
    color: #ffffff;
}
.font-weight-desc {
    margin: 40px 0;
    font-family: Roboto;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 2.5px;
    text-transform: none;
    line-height: 1.2em;
}
.hr-desc {
    border-top: 1px solid rgb(255 255 255 / 22%);
    margin: 60px 0;
}
/************ Page Content ************/
#page-content {
    padding: 100px 0 0 0;
    width: 48%;
    margin: 0 auto;
    text-align: center;
}
.img-content {
    margin: 60px 0;
}
.img-content img {
    width: 100%;
}
.form-box {
    margin: 130px 0;
    text-align: center;
}
.form-box p {
    font-family: serif;
    font-size: 15px;
}
.form-inner input {
    padding: 1em;
    background: #fff;
    border: 1px solid rgba(0,0,0,.12);
    font-family: inherit;
    font-size: 15px;
    line-height: normal;
    outline: none;
    width: 240px;
    height: 50px;
}
.form-inner button {
    color: #fff;
    background-color: #00ccfa;
    border: 1px solid #00ccfa !important;
    font-family: serif;
    font-size: 15px;
    line-height: normal;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    padding: 1em 2.2em;
    height: 50px;
    top: -2px;
    position: relative;
}
.form-inner button:hover {
    background-color: #00ccfabd;
    border: 1px solid #00ccfabd !important;
}
.form-inner input::placeholder {
    font-family: serif;
    color: #0000006b;
}
/************ Footer ************/
.footer-inner {
    text-align: center;
    margin-bottom: 60px;
}
.footer-inner h5 {
    margin: 35px 0;
}
/************ Developer Start Page ************/
.sqs-block-content h2{
    font-family: Elemental-End;
}
.sqs-block-content a{
    color: #00ccfa;
}
/************ Article ************/
.entry {
    padding-top: 40px;
    padding-bottom: 90px;
}
.entry-dateline{
    text-align: center;
    color: rgba(255,255,255,0.5);
}
.entry header h1{
    font-family: Elemental-End;
    text-align: center;
    color: rgba(255,255,255,0.99);
    max-width: 900px;
    margin: auto;
}
.entry-content {
    font-family: AGaramondPro;
    color: rgba(255,255,255,0.7);
    line-height: 2.0em;
    font-size: 18px;
    max-width: 70%;
    margin: auto;
}
.entry-content p{
    margin-bottom: 1em ;
}
.entry-content a{
    color: #00ccfa;
}
.entry-content h3{
    line-height: 1.0em;
    padding-top: 10px;
    color: rgba(255,255,255,0.9);
}
.subHead {
    font-family: Elemental-End;
    text-align: left;
    color: rgba(255,255,255,0.7);
    max-width: 900px;
    margin: auto;
}
.subTitle {
    font-family: AGaramondPro-Italic;
    color: rgba(255,255,255,0.95);
    line-height: 1.0em;
    font-size: 20px;
    max-width: 80%;
    margin: auto;
}
/************ Contact Us ************/
#contact-us {
    padding: 70px 0 0 0;
    width: 73%;
    margin: 0 auto;
    text-align: center;
}
#blog {
    padding: 70px 0 0 0;
    width: 73%;
    margin: 0 auto;
    text-align: left;
}
.contact-us-boxes p {
    margin: 20px 0;
}
.contact-us-boxes {
    margin: 50px 0;
}
.navbar-dark .navbar-toggler {
    border-color: rgb(255 255 255 / 0%);
}
@media (min-width: 992px){
.sidenav .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: column;
    width: 100%;
    margin-left: 65px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
